body {
    background-color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
}

p {
     text-align: justify;
}

strong, em {
    color: rgb(0, 102, 255);
}

header, h1,
main, h2, .links li{
    border: 2px solid  rgb(0, 102, 255);
    padding: 5px;
    margin: 5px auto;
}

h1, main, h2  {
    display: inline-block;   
}

.links ol {
    display: block;
    color: black;
    font-size: larger;
}

a {
    text-decoration: none;
    display: block;
}

h1, h2, .links a {
    background-color:  rgb(0, 102, 255);
    color: white;
}

footer p {
    text-align: center;
}
